* { box-sizing: border-box; }
 body {margin: 0;}
 #ipzsy{width:275px;height:275px;text-align:center;}
 #irq8o{text-align:center;}
 #im4fl{text-align:center;font-size:53px;font-family:Helvetica, serif;}
 #ibyvg{text-align:left;}.col:empty{display:table-cell;height:75px;}
 .col.m12{text-align:center;}
 .col.s6.m3{text-align:center;}
 .c2871{text-align:left;}